@mixin createTextProps($fontWeight, $fontSize) {
    font-weight: $fontWeight;
    font-size: $fontSize;
}

@mixin createCustomRowProps($color) {
    color: $color;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: inherit;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    line-height: 50px;
    justify-content: center;
    align-items: center;
}

.ButtonLoadMore {
    display: inline-block;
    cursor: pointer;
    border: 1px solid var(--bl-theme-primary, #098b8c);
    border-radius: 5px;
    background-color: var(--bl-theme-background, #efede8);
    color: var(--bl-theme-primary, #098b8c);
    outline: none;
    height: 30px;
    text-decoration: none;
    &:hover {
        background-color: var(--bl-theme-on-secondary);
    }
}

.PaginatedContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: white;
}

.PaginatedList {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;

    div:nth-child(odd) {
        & div:nth-child(odd) {
            color: lightslategray;
        }
        & div:nth-child(even) {
            color: #000505;
        }
    }
    div:nth-child(even) {
        color: #079ea0;
    }
}

.PaginatedListEmpty {
    @include createCustomRowProps(rgba(#079ea0, 0.4));
    @include createTextProps(400, 14px);
}
.PaginatedListError {
    @include createCustomRowProps(rgba(#ec2626, 0.7));
    @include createTextProps(700, 13px);
}

.PaginatedListFooter {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
    @include createCustomRowProps(rgba(#079ea0, 0.4));
    @include createTextProps(400, 14px);
}

.CellHeader {
    &.CellDate,
    &.CellLedger,
    &.CellCompany,
    &.CellAmount {
        color: #079ea0;
        @include createTextProps(700, 15px);
    }
    &.CellAmount {
        padding-right: 34px;
    }
}

.CellDate {
    @include createTextProps(700, 14px);
    max-width: 120px;
    text-align: start;
}

.CellAmount {
    @include createTextProps(700, 14px);
    max-width: 100px;
    text-align: end;
}

.CellCompany {
    @include createTextProps(700, 14px);
    text-align: start;
}

.CellLedger {
    font-weight: 400;
    font-size: 12px;
    text-align: start;
}
