:root {
  --bl-theme-primary: #079ea0;
  --bl-theme-secondary: #edf8ee;
  --bl-theme-background: #efede8;
  --bl-theme-on-primary: #efede8;
  --bl-theme-on-secondary: #dddddd;
}

body {
  margin: 0;
  font-family: -apple-system, "Roboto", "Oxygen", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  min-height: 100vh;
}
